#course {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 10% 0% 10% 0%;

  animation-name: drop;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

#course button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  
  display:flex;
  align-items: center;
  justify-content: center;

  margin: 25px 0 10px 0;
  

  text-decoration: none;
  border: none;

  color: white;
  font-size: 17px;
  text-align: center;
}

#course .abledButton {
  background-color: #506BC2;

  box-shadow: inset 0 0 1em cyan;

  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#course .abledButton:hover {
  box-shadow: inset 0 0em 2em cyan, 0 0em 0.5em cyan ;
}

#course img {
  border-radius: 10px;
  align-self: flex-end;
  width: 100%;

  animation-name: drop;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}