#courses-page {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 3% 3% 3%;
  /* background-color: rgba(60, 63, 66, 0.1); */
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1em cyan;
  align-items: center;

  animation-name: drop;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

@media screen and (max-width: 1030px) {
  #courses-page {
    width: 100vw;
    padding: 10% 3% 3% 3%;
  }
}

@media screen and (max-width: 560px) {
  #courses-page {
    padding: 15% 5% 5% 5%;
  }
}