* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #0D1117;
  color: #FFF;
  align-items: center;
  justify-content: center;
  background-image: url(.../../../assets/images/city.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, input, button, textarea {
  font: 60 18px  Nunito, sans-serif;

  outline-style: none;
}

@keyframes drop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}