* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #212529;
  color: #FFF;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 60 18px  Nunito, sans-serif;
}